@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-panel: #1a1d23;
  --color-border: #2a2d35;
  --color-muted: #9ca3af;
  --color-buyer: #eab308;
  --color-seller: #60a5fa;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-accent: var(--color-blue-500);

  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-gray-500);
  color: var(--color-white);
  cursor: not-allowed;
} 

button:disabled:hover {
  background-color: var(--color-gray-500);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
